*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body{
    min-height: 100vh;
    background:linear-gradient(180deg, #D9AFD9, #97D9E1);
}

#container{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#addBtn{
    position: fixed;
    top: 20px;
    right: 20px;
    color: aliceblue;
    background-color: #01be5d;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

#addBtn:hover{
    background-color: #026929;
}

.note{
    margin: 15px;
    background-color: #383838;
    border-radius: 10px;
    overflow: hidden;
}

.note:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.tools{
    background-color: #1f1f1f;
    display: flex;
    justify-content: flex-end;
    color: azure;
    padding: 5px;
}

.tools i{
    padding: 5px;
    cursor: pointer;
}

.tools i:hover{
    color: #aca1a1;;
}

.note textarea{
    min-height: 220px;
    width: 300px;
    border: none;
    resize: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    background: transparent;
}

.note textarea:focus{
    outline: none;
}